{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ status_code }} {{ status_text }}{% endblock %}

{% block javascripts %}{% endblock %}

{% block content %}
    <h1>{{ status_code }}.</h1>

    <p>
        {% block text %}
            {{ status_text }}.
        {% endblock %}
    </p>

    <p>
        <a href="{{ path('homepage') }}">Go home</a>.
    </p>
{% endblock %}