<div class="user-card">
    <h2 class="text-nowrap">
        <img src="{{ user.avatar }}" />
        {{ user.personaname }}
    </h2>

    {% if app.request.get('_route') != 'user' or not user.isBeingHandled %}
        <p>
            {{ include('AppBundle:User:rating.html.twig') }}
        </p>
    {% else %}
        <p id="user-progress" data-url="{{ path('user_progress') }}">
            {{ render(controller('AppBundle:User:progress')) }}
        </p>
    {% endif %}
</div>