{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        {{ include('AppBundle:User:card.html.twig', {
            user: app.user
        }) }}
    </div>

    <div id="user-share-block" class="jumbotron{{ app.user.isBeingHandled ? ' hidden' }}">
        {{ include('AppBundle:User:sharing.html.twig') }}
    </div>

    <div id="user-bar-block" class="jumbotron{{ app.user.isBeingHandled ? ' hidden' }}">
        {{ include('AppBundle:User:userbar.html.twig') }}
    </div>
{% endblock %}