{% extends 'AppBundle::layout.html.twig' %}

{% block meta %}
    {{ parent() }}

    {{ include('AppBundle::og.html.twig', {
        pageUrl:  path('user_share', { hash: user.hash }),
        imageUrl: image
    }) }}
{% endblock %}

{% block logout %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="user-card">
            <h2>player's rating:</h2>

            {{ include('AppBundle:User:result.html.twig') }}
        </div>
    </div>

    <div class="jumbotron">
        <h2>and what have you achieved?</h2>

        {% if is_granted('ROLE_STEAM_USER') %}
            <p>
                <a href="{{ path('user') }}">see your rating</a>.
            </p>
        {% else %}
            {{ include('AppBundle:Homepage:text.html.twig') }}
        {% endif %}
    </div>
{% endblock %}